<div class="container">
  <div class=" form-group mt-4" style="text-align:center">
    <h2 style="text-align:center">帳號登入</h2>
    <form action="/" method="get">
      <div class="form-group">
        <input type="text" class="form-control p-2 mt-3" name="email" id="email" placeholder="Email" required>
        <input type="text" class="form-control p-2 mt-3" name="password" id="password" placeholder="Password" required>
        <button class="btn btn-secondary mt-4">Sign in</button>
      </div>
    </form>
  </div>
</div>