<h1 class="mb-1 restaurant-show-title">新 增 餐 廳</h1>
<div class="container mb-5">
  <form action="/restaurants" method="POST" id="create-form">
    <div class="form-group col-10 d-block mx-auto">
      <label for="name" style="color: #999999;">餐廳名稱(必填)</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="請輸入餐廳名稱 ..." required>
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="name_en" style="color: #999999;">餐廳英文名稱</label>
      <input type="text" class="form-control" name="name_en" id="name_en" placeholder="請輸入餐廳英文名稱 ...">
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="category" style="color: #999999;">餐廳類型(必填)</label>
      <input type="text" class="form-control" name="category" id="category" placeholder="請輸入餐廳類型 ..." required>
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="image" style="color: #999999;">餐廳圖片</label>
      <input type="text" class="form-control" name="image" id="image" placeholder="請輸入餐廳圖片網址 ...">
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="location" style="color: #999999;">餐廳地址(必填)</label>
      <input type="text" class="form-control" name="location" id="location" placeholder="請輸入餐廳地址 ..." required>
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="phone" style="color: #999999;">餐廳電話(必填)</label>
      <input type="text" class="form-control" name="phone" id="phone" placeholder="請輸入餐廳電話 ..." required>
    </div>
    <div class="form-group mt-3  col-10 d-block mx-auto">
      <label for="google_map" style="color: #999999;">餐廳google地圖</label>
      <input type="text" class="form-control" name="google_map" id="google_map" placeholder="請輸入餐廳google地圖網址 ...">
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="rating" style="color: #999999;">餐廳評分</label>
      <input type="number" class="form-control" name="rating" id="rating" placeholder="請輸入餐廳評分 ..." step="0.1" min="0"
        max="5">
    </div>
    <div class="form-group mt-3 col-10 d-block mx-auto">
      <label for="description" style="color: #999999;">餐廳介紹</label>
      <input type="type" class="form-control" name="description" id="description" placeholder="請輸入餐廳介紹 ...">
    </div>
    <button id="submit-btn" type="submit" class="btn btn-primary mt-3 d-block mx-auto" onclick="return confirmCreate()"
      style="font-size: 20px;">新增餐廳</button>
  </form>
</div>

<script>
  function confirmCreate () {
    const name = document.querySelector('#name').value
    const category = document.querySelector('#category').value
    const location = document.querySelector('#location').value
    const phone = document.querySelector('#phone').value
    if (name.trim().length === 0) {
      alert('餐廳名稱不能空白!')
      return false
    } else if (category.trim().length === 0) {
      alert('餐廳類型不能空白!')
      return false
    } else if (location.trim().length === 0) {
      alert('餐廳地址不能空白!')
      return false
    } else if (phone.trim().length === 0) {
      alert('餐廳電話不能空白!')
      return false
    } else {
      document.getElementById(" create-form").submit()
    }
  } </script>